services:
  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongo_data:/data/db

  backend:
    image: anurag1711/mean-backend:latest
    restart: always
    environment:
      MONGO_URL: mongodb://mongo:27017/dd_db
    depends_on:
      - mongo

  frontend:
    image: anurag1711/mean-frontend:latest
    restart: always
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend

volumes:
  mongo_data: